.currency {
  display: flex;
  justify-content: flex-start;
  // align-items: center;
  gap: 5px;
  width: 100%;
}

.wrapper-input {
  border-right: 2px solid rgba(22, 22, 22, 1);
  // flex-grow: 0;
  // flex-shrink: 0;
  // min-width: 80px;
  // max-width: 100%;
  display: inline-block;
  position: relative;
  font-size: 42px;
  font-weight: 600;
  // width: 100%;
}

.resize-text,
.input {
  margin: 0;
  padding: 0 10px 0 20px;
  // box-sizing: border-box;
  height: 42px;
  min-width: 80px;

  color: rgba(22, 22, 22, 1);
  font-size: 42px;
  font-weight: 600;
  line-height: 1.2;
}

.resize-text {
  // padding-right: 20px;
  display: inline-block;
  visibility: hidden;
  white-space: pre;
  // background-color: aqua;
  position: absolute;
  width: 80px;
}

.input {
  // width: 100%;
  // min-width: 80px;
  // max-width: 100%;
  // overflow: hidden;
  // white-space: nowrap;
  opacity: 0.5;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  background-color: #fcc;

  cursor: text;
  // display: block;
  // min-width: 50px;
  // width: 100%;
  // width: 3ch;
  // margin: 0px;
  // padding: 0px;
  border: none;
  outline: none;
  // overflow: hidden;
}

.symbol {
  // width: 100%;
  flex-grow: 2;
  font-size: 32px;
  font-weight: 600;
  color: rgba(22, 138, 205, 1);
}
