@import url('./fonts/fonts.css');

:root {
  --font-inter: 'Inter', Helvetica, Arial, sans-serif;

  font-family: var(--font-inter);
  line-height: 1.2;
  font-weight: 400;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-content: center;
  min-width: 320px;
  min-height: 100vh;
  background-color: #f3f4f6;
}

#root {
  width: 100%;
  max-width: 1200px;
  /* margin: 0 auto; */
}

input,
textarea {
  font-family: var(--font-inter);
  line-height: 1.2;
  font-weight: 400;
}
