.progress-bar {
  display: flex;
  gap: 10px;
  width: 100%;
  font-size: 12px;
  font-weight: 600;
  color: rgba(122, 122, 122, 1);
  user-select: none;
}

.segment {
  flex: 1;
  background-color: transparent;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  border: 1px solid rgba(228, 228, 228, 1);
}

.segment-label {
  padding: 5px 0;
  width: 100%;
  text-align: center;
}

.segment-fill {
  padding: 5px 0;
  width: 100%;
  background-color: rgba(22, 138, 205, 1);
  position: absolute;
  color: rgba(255, 255, 255, 1);
  clip-path: polygon(0 0, 0 0, 0% 100%, 0 100%);
  top: 0;
  left: 0;
  transition: clip-path 1s linear;
}
